<div class="row">
    <div class="col-md-6">
      <div class="card">
          <h3 class="card-header">Состояние на текущий день</h3>
          <div class="card-block">
              <div class="container">
                <div class="row">
                  <div class="col-md-6">
                      <label class="label-text" for="">Всего проехано(км)</label>
                      <span>{{rentSummary.summaryLength|async}}</span>
                    </div>
                    <div class="col-md-6">
                        <label class="label-text" for="">Время в пути</label>
                        <span>{{rentSummary.summaryTime}}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label class="label-text" for="">На балансе(тг)</label>
                        <span>{{rentSummary.summaryLength|async}}</span>
                      </div>
                      <div class="col-md-6">
                          <label class="label-text" for="">Заморожено(тг)</label>
                          <span>{{rentSummary.summaryLength|async}}</span>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-md-6">
                          <label class="label-text" for="">Самый длинный путь(км)</label>
                          <span>{{rentSummary.longestRentWay}}</span>
                        </div>
                        <div class="col-md-6">
                            <label class="label-text" for="">Самая длительная поездка</label>
                            <span>{{rentSummary.longestRentTime}}</span>
                        </div>
                    </div>
              </div>
          </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <h3 class="card-header">Последняя поездка </h3>
            <div class="card-block">
              <div class="container">
                  <div class="row">
                      <div class="col-md-12">
                          <label class="label-text" for="">Откуда(полный адрес)</label>
                          <span>-</span>
                        </div>
                        <div class="col-md-12">
                            <label class="label-text" for="">Куда(полный адрес)</label>
                            <span>-</span>
                        </div>
                        <div class="col-md-12">
                            <label class="label-text" for="">Полный путь(км)</label>
                            <span>-</span>
                        </div>
                        <div class="col-md-12">
                            <label class="label-text" for="">Затраченое время</label>
                            <span>-</span>
                        </div>
                        <div class="col-md-12">
                            <label class="label-text" for="">К оплате</label>
                            <span>-</span>
                        </div>
                    </div>
              </div>
        </div>
      </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
      <div class="card">
          <h3 class="card-header">Активная бронь</h3>
          <div class="card-block">
            <div class="container">
              Вы можете забронировать у нас на сайте
              <button class="btn btn-sm btn-primary">Забронировать</button>
            </div>     
          </div>
        </div>
    </div>
</div>
<div>
  <h3>История аренды</h3>
  <app-rent-history></app-rent-history>
</div>
