<dx-data-grid id="gridContainer"
    [dataSource]="dataSource"
    [masterDetail]="{ enabled: true ,template: 'detail'}"
    [remoteOperations]="true"
    keyExpr="id">
    <dxi-column dataField="startingPoint" [width]="70" caption="Точка посадки"></dxi-column>
    <dxi-column dataField="destinationPoint" caption="Точка высадки"></dxi-column>
    <dxi-column dataField="wayLength" caption="Полный путь"></dxi-column>
    <dxi-column dataField="payment" [width]="170" caption="Оплата"></dxi-column>
    <div *dxTemplate="let rent of 'detail'">
       <app-ymap-area [mapIdentifier]="'map'+rent.data.id" [startPoint]="rent.data.startCoordinates" [endPoint]="rent.data.endCoordinates"></app-ymap-area>
    </div>
</dx-data-grid>