#mainNav.navbar-shrink {
    border-color: rgba(34,34,34,.1);
    background-color: #fff;
    padding-left: 10%;
    padding-right: 10%;
}
.sidebarity{
    margin-left: 15%;
}
.sidebar-header{
    background:#33444c;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #e7f1fc;
    display: block;
}
.ola-navbar {
    position: relative;
    -ms-flex-direction: row;
    flex-direction: row;
    height: 55px;
    padding: 0;
    margin: 0;
    background-color: #fff;
    border-bottom: 1px solid #a4b7c1;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.main {
    margin-left: 160px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
.marginate-50{
    margin: 20px;
}