<nav *ngIf="authManager.IsAuthenticated==false" id="mainNav" class="navbar navbar-expand-lg navbar-light fixed-top navbar-shrink ola-navbar" >
    <a class="navbar-brand" [routerLink]="['/']" >ForeCast</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav md-auto">
        <li class="nav-item">
          <a class="nav-link"  [routerLink]="['/']">List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['employee']" >Other</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
      </ul>
      <div class="form-inline my-2 my-lg-0">
        <button *ngIf="authManager.IsAuthenticated==false" class="btn btn-outline-info my-2 my-sm-0" [routerLink]="['auth-page']">Sign In</button>
        <button *ngIf="authManager.IsAuthenticated" class="btn btn-outline-info my-2 my-sm-0" [routerLink]="['auth-page']" (click)="SignOut()">Sign Out</button>
      </div>
    </div>
  </nav>
  <nav *ngIf="authManager.IsAuthenticated" id="mainNav" class="navbar navbar-expand-lg navbar-light fixed-top navbar-shrink ola-navbar" >
      <a class="navbar-brand" [routerLink]="['/']" >CarSharing</a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav md-auto">
          <li class="nav-item">
            <a class="nav-link"  [routerLink]="['/client']">Главная</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['client/history']" >История</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" [routerLink]="['client/history']" >Карта</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
        </ul>
        <div class="form-inline ">
            <div *ngIf="authManager.IsAuthenticated" style="margin-right:10px;">
                  <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
                    <button class="btn btn-outline-warning" ngbDropdownToggle>Hello {{authManager.Identity.UserName}}
                        <span class="badge badge-light">9</span>
                    </button>
                    <div class="dropdown-menu" ngbDropdownMenu>
                      <button class="dropdown-item">Прочесть (9)</button>
                      <button class="dropdown-item">Личный кабинет</button>
                      <button class="dropdown-item">Four!</button>
                    </div>
                  </div>
            </div>
          <button *ngIf="authManager.IsAuthenticated==false" class="btn btn-outline-info " [routerLink]="['auth-page']">Sign In</button>
          <button *ngIf="authManager.IsAuthenticated" class="btn btn-outline-info " [routerLink]="['auth-page']" (click)="SignOut()">Sign Out</button>
        </div>
      </div>
    </nav>
    <div [ngClass]="{'marginate-50':authManager.IsAuthenticated}">
        <router-outlet></router-outlet>
    </div>

  
  
  